%div{:class => "stats_table"}
  %div{:class => "title", :title => ("From #{locals[:stats][:start]} to #{locals[:stats][:end]}" if locals[:stats][:end])}
    = locals[:stats][:title]
    %div{:class => "incidents"}
    = locals[:stats][:data]["count"] || 0
    incidents
  %div{:class => "s_ack"}
    Acknowledged in 60s:
    = "#{locals[:stats][:data]["ack_percent_in_60s"]}%"
  %div{:class => "data_table"}
    %table
      - ["",@stats].flatten.each do |s|
        %td
          %span{:class => "col_header", :title => "#{s}"}
            = @mapper[s] || s

      - @types.each do |t|
        %tr
          %td
            %span{:class => "row_header"}
              = @mapper[t]
            - @stats.each do |s|
              %td{:class => "#{s} value"}
                = locals[:stats][:data]["#{t}_#{s}"].to_i
