%h3#handled-incidents
  %span
    Acknowledgement and resolution times of alerts handled between
    = @start_date
    and
    = @end_date

%div{:id => 'ackresolutionchart'}

%form{:action => '', :method => 'post', :role => 'form', :class => 'form', :id => 'ackresolution'}
  %h3
    Alert list (
    = @acked
    acknowledged out of
    = @total
    )
  %table#incidents-table.table.tablesorter
    %thead
      %tr
        %th.alert_time
          Time of alert
        %th.alert_id
          ID
        %th.entity
          Entity
        %th.check
          Check
        %th.ack_by
          Acknowledged by
        %th.ack
          Time to Acknowledge (minutes)
        %th.resolve
          Time to Resolve (minutes)
    %tbody
      - @incidents.each do |incident|
        %tr
          %td= Time.at(incident['alert_time'])
          %td
            %a{:href => "https://bltprf.pagerduty.com/incidents/#{incident['id']}"}= incident['id']
          %td= incident['entity']
          %td= incident['check']
          %td= incident['ack_by']
          %td= incident['time_to_ack']
          %td= incident['time_to_resolve']

%script{:src => "https://code.highcharts.com/highcharts.js"}
%script{:src => "https://code.highcharts.com/highcharts-more.js"}
:javascript
  Highcharts.setOptions({
    global: {
      useUTC: false
    }
  });
  $(function () {
    var data = #{@series}
    $('#ackresolutionchart').highcharts({
      yAxis: {
          min: 0,
          title: {
              text: 'Time (min) to acknowledge or resolve alert'
          }
      },
      xAxis: {
          type: 'datetime',
          title: {
              text: 'Time of alert'
          }
      },
      legend: {
          enabled: false
      },
      title: {
          text: ''
      },
      plotOptions: {
        series: {
          compare: 'value',
          turboThreshold: 2000
        }
      },
      tooltip: {
          shared: true,
          valueSuffix: 'min'
      },
      series: data
    });
  });
