%h3#handled-incidents
  %i.fa.fa-bullhorn
  %span.label.label-default.count= @incidents.size
  %span
  - if @start_date == @end_date
    alerts handled on
    = @start_date
  - else
    alerts handled between
    = @start_date
    and
    = @end_date

%form{:action => '', :method => 'post', :role => 'form', :class => 'form', :id => 'incidents'}
  %table#incidents-table.table.table-hover.table-striped.table-bordered.table-condensed.tablesorter
    %thead
      %tr
        %th#index
          \#
        %th#time
          Time
        %th#incident
          Incident
        %th#source
          Source
        %th#entity
          Entity
        %th#check
          Check
        %th#ack_by.col-md-1
          Acknowledged by
        %th#category
          Category
    %tbody
      - @incidents.each_with_index do |incident, index|
        - id = incident['id']
        %tr
          %td= index + 1
          %td= Time.at(incident['time'])
          %td
            %a{:href => "#{@pagerduty_url}/incidents/#{id}"}= id
          %td= incident['input_type']
          %td= incident['entity']
          %td= incident['check']
          %td= incident['acknowledge_by']
          %td
            %select{:name => id, :id => id, :class => "form-control"}
              -@categories.each do |category|
                - display_name = category == "self recovered" ? "recovered without intervention" : category
                - if incident['category'] && category == incident['category']
                  %option{:value => category, :selected => true}= display_name
                - else
                  %option{:value => category}= display_name

  %p.text-right
    %input{:type => "submit", :value => "save", :class => "btn btn-warning"}
