!!! 5
%html{:lang=>"en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Pigeonhole
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel=>"stylesheet"}
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel=>"stylesheet"}
    %link{:href => "/css/tablesort.css", :rel=>"stylesheet"}
    %link{:href => "/css/pigeonhole.css", :rel=>"stylesheet"}
    %link{:href => "/css/jquery-ui.min.css", :rel=>"stylesheet"}
    %script{:src => "/js/jquery-2.1.4.min.js"}
    %script{:src => "/js/jquery-ui.min.js"}
    %script{:src => "/js/jquery.tablesorter.min.js"}
    %script{:src => "/js/jquery.tablesorter.widgets.js"}
    %script{:src => "/js/jquery.timeago.js"}
    %script{:src => "/js/tablesort.js"}
    %script{:src => "/js/pigeonhole.js"}
    %script{:src => "//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
  %body
    %nav{:class => 'navbar navbar-default datenav', :role => 'navigation'}
      %div.navbar-inner
        %div.container

          %div.navbar-header
            %span.navbar-brand
              %a{:href=>"/", :class => "home_link"} Pigeonhole

          - q = @search ? "?search=#{@search}" : ""
          %div.nav.navbar-nav
            %li
              %a{:href=>"/categorisation/#{@start_date}/#{@end_date}#{q}"} Categorisation
            %li
              %a{:href=>"/alert-frequency/#{@start_date}/#{@end_date}#{q}"} Alert Frequency
            %li
              %a{:href=>"/alert-response/#{@start_date}/#{@end_date}#{q}"} Alert Response
            %li
              %a{:href=>"/noise-candidates/#{@start_date}/#{@end_date}#{q}"} Alert Noise Candidates

          - unless request.path_info == '/'
            %div.navbar-form.navbar-right
              #searchcontrol.form-group
                %input{:type => "text", :id => "search", :class => "form-control navform_search", :placeholder => "Search", :value => "#{@search}" }
              #startcontrol.form-group.date-select
                %label{:for => "start_date"} From
                %input{:id => "start_date", :class => "form-control navform_date", :value => "#{@start_date}" }
              #endcontrol.form-group.date-select
                %label{:for => "end_date"} to
                %input{:id => "end_date", :class => "form-control navform_date", :value => "#{@end_date}" }
              %div.form-group
                %input{:type => "button", :id => "reload", :class => "btn btn-success", :value => "Load" }
    %div.container
      = yield
