%h3#handled-incidents
  %span
  - if @start_date == @end_date
    Alerts that recovered within 2 minutes of alerting on
    = @start_date
  - else
    Alerts that recovered within 2 minutes of alerting between
    = @start_date
    and
    = @end_date
  - if @search
    matching term
    = '"'+@search+'"'

%div{:id => 'noisecandidatechart'}

%form{:action => '', :method => 'post', :role => 'form', :class => 'form', :id => 'noise-candidates'}
  %h3
    Alert list ( total:
    = @total
    )
  %table#incidents-table.table.table-hover.table-striped.table-bordered.table-condensed.tablesorter
    %thead
      %tr
        %th#count
          Count
        %th#source
          Source
        %th#entity
          Entity
        %th#check
          Check
        %th#mean_time_to_resolve
          Average time to resolve (s)
    %tbody
      - @incidents.each do |incident|
        %tr
          %td= incident['count']
          %td= incident['input_type']
          %td= incident['entity']
          %td= incident['check']
          %td= incident['mean_time_to_resolve']

%script{:src => "https://code.highcharts.com/highcharts.js"}
:javascript
  $(function () {
    var data = #{@series}
    $('#noisecandidatechart').highcharts({
      chart: {
        type: 'column'
      },
      credits: {
          enabled: false
      },
      title: {
          text: 'Top 50 noisiest alerts'
      },
      xAxis: {
        categories: [ 'Alerts' ]
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Number of alerts'
          }
      },
      legend: {
          enabled: false
      },
      plotOptions: {
        series: {
          groupPadding: 0,
          dataLabels: {
            crop:     true,
            enabled:  false,
            overflow: 'justify',
          }
        }
      },
      series: data
    });
  });